.corpo
{
    background-color: lightskyblue;
}

.btnbtn-info
{
    background-color: green;
    color: white;
}

.btnbtn-success
{
    background-color: red;
    color: white;
}

.j
{
    background-color: white;
}